<ion-header>

  <ion-navbar>
    <ion-title>choose language</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- logo -->
  <div text-center>
    <img src="{{selectedLogo}}" alt="logo" width=90>
  </div>
  
  <!-- organization -->
  <div text-center padding>
    <h1 (click)="click = !click" style="font-family: Kh Mith Sala Pali;">
      <strong>{{selectedOrganization}}</strong>
    </h1>
    <div *ngIf="click">
      <hr>
      <p>
        <strong>ច្រកទ្វារ > {{selectedOrganization}}</strong>
      </p>
    </div>
  </div>

  
  <div text-center>
    <p text-uppercase>please select language</p>
    <ion-card *ngFor="let lang of language" (click)="itemTapped(lang.name)" style="width: 90px; display: inline-block;" padding>
      <img src="{{lang.icon}}" />
      <ion-card-content no-padding>
        <p>
          <p>
            {{lang.name}}
          </p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>