<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="nextPage()">Next</button>
    </ion-buttons>
    <!-- <ion-title>{{question3_title}}</ion-title> -->
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!-- logo  -->
  <div text-center>
    <img src="{{selectedLogo}}" alt="logo" width=90>
  </div>

  <!-- organization -->
  <div text-center padding>
    <h1 (click)="click = !click" style="font-family: Kh Mith Sala Pali;">
      <strong>{{selectedOrganization}}</strong>
    </h1>
    <div *ngIf="click">
      <hr>
      <p>ច្រកទ្វារ > {{selectedOrganization}}</p>
    </div>
  </div>

  <!-- question3 -->
  <ion-item style="color: #008000; background-color: #f4f4f4; border-bottom: 2px solid grey;" margin-vertical>
    <strong>{{question3_title}}</strong>
  </ion-item>

  <ion-item no-lines *ngFor="let q3 of question3_kh; let qid = index">
    <p>{{q3}}</p>
    <ion-row radio-group>
      <ion-col *ngFor="let ans of answer_text">
        <ion-radio value="{{ans}}" (ionSelect)="mcqAnswer(qid+1, ans)"></ion-radio>
        <p style="color: orange">{{ans}}</p>
      </ion-col>
    </ion-row>
  </ion-item>

</ion-content>